html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Slabo 27px", sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.section-hero {
background: url("img/img_hero.jpeg") center center no-repeat;
background-size: cover;
max-width: 100%;
min-height: 47rem;
font-family: "Amatic SC", sans-serif;
}

.container__section-body {
  margin: auto;
  max-width: 60%;
}

.section-body {
  display: flex;
  justify-content: space-around;;
}

.top-nav {
  margin: 1rem 2rem;
}

.nav_links {
  display: flex;
  margin: 1rem;
}

.nav_link-items {
  margin: 0 1rem;
}

.jumbotron-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.jumbo-text {
  font-size: 4rem;
  text-align: center;
}

.small-text {
  font-size: 1rem;
  margin: -3rem 0rem 4rem 0rem;
}

.container__nav {
  display: flex;
  justify-content: space-between;
  max-width: 65rem;
  margin: auto;
  padding: -1rem;
}

.sidebar {
  text-align: center;
}

.container__sidebar {
  width: 26%;
  margin: 1rem;
}

.author-photo {
  margin: 1rem 0 0 0;
  border-radius: 100%;
}

.author-name {
  font-size: 1rem;
  margin: 0;
}

.social__media-item {
  margin: 0 0 0 .5rem;
  color: #3e4147;
}

.social__media-list {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  font-size: .5rem;
}

.image__sidebar {
  font-size: .6rem;
}

.ad-link {
  display: flex;
  justify-content: flex-end;
  text-decoration: underline;
}

.post-title {
  font-size: 2rem;
  text-align: center;
}

.author-photo__post {
  border-radius: 100%;
  max-width:  50%;
  height: 6vh;
  margin: 1rem;
}

.date-time {
  text-decoration: underline;
}

.container__post {
  margin: 1rem;
  max-width: 53%;
}

.container__author {
  margin: 1rem;
}

.author {
  display: flex;
  justify-content: flex-start;
}
