html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.section-hero {
background: url("img/img_hero.jpeg") center center no-repeat;
background-size: cover;
width: 100%;
height: 30rem;
}

.top-nav {
  margin: 1rem 2rem;
}

.nav_links {
  display: flex;
}

.nav_link-items {
  margin: 0 2rem;
}

.jumbotron-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.jumbo-text {
  font-size: 3rem;
}

.container__nav {
  display: flex;
  justify-content: space-between;
}
